.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.carousel-inner {
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}

.carousel-index {
    width: 100%;
    height: 100%;
    margin: auto;
}
