<div class="row">
    @for (int i = 0; i < 5; i++)
    {
        <div class="col-md-3 mt-3">
            <div class="card mb-4" style="width: 18rem;">
                <img src="https://audimediacenter-a.akamaihd.net/system/production/media/77766/images/910025eb9db8aea52ec0a693c4e8c2e5d29230ea/A195681_x500.jpg?1595847098" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    }
</div>
